<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="true">
    <appender name="std-out" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss} %-5p %c :%m%n"/>
        </layout>
    </appender>
    
    <appender name="debug-out" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="d:\\debug\\msgs.log"/>
        <param name="Threshold" value="debug"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd-HH-mm"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1} %M %L :%m%n"/>
        </layout>
    </appender>

    <root>
        <level value="info"/>
        <appender-ref ref="std-out" />
    </root>
</log4j:configuration>







